///* ========================================================================
//   #TYPOGRAPHY
//   ======================================================================== */

// Font families.
$font-family-body: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif !default;
$font-family-heading: $font-family-body !default;
$font-family-monospace: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace !default;

// Base typographical sizing used with the `responsive-font-size` mixin.
$typography: (
	html: (
		null: (16px, $global-line-height)
	),
	h1: (
		null: 24px,
		medium: 48px
	),
	h2: (
		null: 20px,
		medium: 40px
	),
	h3: (
		null: 19px,
		medium: 31px
	),
	h4: (
		null: 18px,
		medium: 25px
	),
	h5: (
		null: 17px,
		medium: 20px
	),
	h6: (
		null: 16px,
		medium: 18px
	)
);

$fluid-typography: (
	html: (
		null: (16px, $global-line-height)
	),
	h1: (30px, 52px),
	h2: (26px, 40px),
	h3: (22px, 34px),
	h4: (20px, 26px),
	h5: (17px, 20px),
	h6: (16px, 18px)
);
